{{ define "main" -}}
{{ if isset .Data "Term" }}
<h1 class="page-title">{{ humanize .Data.Term }}</h1>
{{ else }}
<h1 class="page-title">{{ .Title }}</h1>
{{ end }}
{{.Content}}
<ul class="posts flat">
	{{- range .Data.Pages -}}
	{{- if (in .Site.Params.excludedTypes .Type) -}}
	{{- else -}}
	<li class="post">
		<div class="post-header">
			<div class="meta">
				<div class="date">
					<span class="day">{{ dateFormat "02" .Date }}</span>
					<span class="rest">{{ if $.Site.Data.month }}{{ index $.Site.Data.month (printf "%d" .Date.Month) }}
						{{ .Date.Year }}{{ else }}{{ dateFormat "Jan 2006" .Date }}{{ end }}</span>
				</div>
				<div class="thumbnail" style="margin-left: -12px; padding-right: 4px;" >
					{{ if .Params.image }}
						{{ $original := print (path.Base .Params.image) }}
						{{ $originalImg := .Resources.GetMatch $original }}
						{{ if $originalImg }}
							{{ $thumbnailImg := $originalImg.Fit "200x100" }}
							{{ printf `<img src="%s" alt="%s">` 
								$thumbnailImg.RelPermalink .Title | safeHTML }}
						{{end}}
					{{end}}
				</div>
			</div>
			<div class="matter">
				<h3 class="title small"><a href="{{ .RelPermalink }}">{{.Title}}{{ if .Draft }}<sup
							class="draft-label">DRAFT</sup>{{ end }}</a></h3>				
				<span class="description">
					{{ if isset .Params "description" }}
					{{ .Description }}
					{{ else }}
					{{ .Plain | htmlUnescape | safeHTML | truncate 200 }}
					{{ end }}
				</span>
				<div class="description">
					<small>{{ .ReadingTime }} min read -
						<kbd>
							{{ range .Params.tags }}
							<a href="{{ " /tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
							{{ end }}
						</kbd></small>
				</div>
			</div>
			
			
			
	</li>
	{{- end -}}
	{{- end -}}
</ul>

{{ partial "tags.html" . }}

{{ end }}